doctype html
html(lang="en")
    head
        meta(http-equiv='Content-type', content='text/html; charset=utf-8')
        title= Trajectories
        link(rel="stylesheet", href="/static/css/base.css")
        link(rel="stylesheet", href="/static/css/gitgraph.css")
    body
        h1 Test
        #container
        #sigma-container

        script(src="/static/js/thirdparty/jquery.min.js")

        script(src="/static/js/thirdparty/sigma/src/sigma.core.js")
        script(src="/static/js/thirdparty/sigma/src/conrad.js")
        script(src="/static/js/thirdparty/sigma/src/utils/sigma.utils.js")
        script(src="/static/js/thirdparty/sigma/src/utils/sigma.polyfills.js")
        script(src="/static/js/thirdparty/sigma/src/sigma.settings.js")
        script(src="/static/js/thirdparty/sigma/src/classes/sigma.classes.dispatcher.js")
        script(src="/static/js/thirdparty/sigma/src/classes/sigma.classes.configurable.js")
        script(src="/static/js/thirdparty/sigma/src/classes/sigma.classes.graph.js")
        script(src="/static/js/thirdparty/sigma/src/classes/sigma.classes.camera.js")
        script(src="/static/js/thirdparty/sigma/src/classes/sigma.classes.quad.js")
        script(src="/static/js/thirdparty/sigma/src/classes/sigma.classes.edgequad.js")
        script(src="/static/js/thirdparty/sigma/src/captors/sigma.captors.mouse.js")
        script(src="/static/js/thirdparty/sigma/src/captors/sigma.captors.touch.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/sigma.renderers.canvas.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/sigma.renderers.webgl.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/sigma.renderers.svg.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/sigma.renderers.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/webgl/sigma.webgl.edges.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.labels.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edges.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/svg/sigma.svg.utils.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/svg/sigma.svg.nodes.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/svg/sigma.svg.edges.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/svg/sigma.svg.edges.curve.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/svg/sigma.svg.labels.def.js")
        script(src="/static/js/thirdparty/sigma/src/renderers/svg/sigma.svg.hovers.def.js")
        script(src="/static/js/thirdparty/sigma/src/middlewares/sigma.middlewares.rescale.js")
        script(src="/static/js/thirdparty/sigma/src/middlewares/sigma.middlewares.copy.js")
        script(src="/static/js/thirdparty/sigma/src/misc/sigma.misc.animation.js")
        script(src="/static/js/thirdparty/sigma/src/misc/sigma.misc.bindEvents.js")
        script(src="/static/js/thirdparty/sigma/src/misc/sigma.misc.bindDOMEvents.js")
        script(src="/static/js/thirdparty/sigma/src/misc/sigma.misc.drawHovers.js")

        script(src="/static/js/thirdparty/sigma/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js")

        script(src="/static/js/thirdparty/sigma-image-node-renderer.js")

        script(src="/static/js/thirdparty/linkurious/plugins/sigma.plugins.activeState/sigma.plugins.activeState.js")

        script(src="/static/js/thirdparty/gitgraph.js")
        script(src="/static/js/react/react-with-addons.js")
        script(src="/static/js/react/react-draggable.js")
        script(src="/static/js/react/JSXTransformer.js")

        script(type="text/javascript") window.obj = !{JSON.stringify(obj)}
        script(type="text/jsx", src="/static/js/git-graph.js")

